.search{
    width: 65%;
    margin-top: 19px;
    margin-bottom: 18px;
}

.searchBar {
    border-radius: 35px;
    vertical-align: middle;
    border-style: none;
    margin-top: 0px;
    margin-right: 20px;
    transition: box-shadow 1s ease-in-out, transform 0.3s ease-in-out; /* Add transition for smooth effect */
    box-shadow: none; /* Initial shadow */
    transform: translateY(0); /* Initial position */
}

/* Add shadow effect and transform on hover */
.searchBar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
    transform: translateY(1.1); /* Move up by 5px on hover */
}
.voiceBtnsSearch {
    padding: 10px;
    width: 8%;
    background: aquamarine;
    border-radius: 57%;
    margin: 10px;
    font-size: 25px;
    text-align: center;
}

.logoDiv {
    width: 7%;
    margin-left: 42px;
}

.pages-navbar {
    border-radius: 45px;
    background-color: rgb(100, 96, 96);
    transition: transform 0.8s ease, box-shadow 0.8s ease; /* Adding transition for smooth effect */
    transform: translateZ(10); /* Ensuring 3D transformations work smoothly */
    box-shadow: 0 25px 10px rgba(0, 0, 0, 0.3); /* Initial shadow for a slight lift */
    margin-bottom: 10px;
}
.pages-navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Increasing the depth on hover */
    transform: scale(1.1); /* Increasing the depth on hover */
    background-color: #ff7f29;
}

.all-categories{
    background-color: white;
    border-radius: 45px;
    height: 55px;
    margin-top: 6px;
    font-family: 'Madimi One';
}

