/* .productCardDetails {
  height: 130vh;
}

.productCardDetails1 {
  background-color: rgb(100, 96, 96);
} */

@media screen and (max-width: 400px) {
  .productCardDetails {
    transform: translateZ(9.5);
  }
  .productCardDetails:hover {
    transform: scale(1.03);
  }
  .productCardDetails1 {
    transform: translateZ(9.5);
  }
  .productCardDetails1:hover {
    transform: scale(1.03);
  }
}
