.aiFillHeart {
    color: rgb(51, 51, 51);
    background: orange;
}

.productCard {
    background-color: rgb(100, 96, 96);
    transition: transform 0.8s ease, box-shadow 0.8s ease; /* Adding transition for smooth effect */
    transform: translateZ(10); /* Ensuring 3D transformations work smoothly */
    box-shadow: 0 25px 10px rgba(0, 0, 0, 0.3); /* Initial shadow for a slight lift */
}

/* Add 3D shadow effect on hover */
.productCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Increasing the depth on hover */
    transform: scale(1.1); /* Increasing the depth on hover */
    background-color: #ff7f29;
}

.productCard a img {
    width: 88%;
    height: 35vh;
}